//Fonts
$base-size: 10px;
$font-base: SourceSansProLight;

//Colors
$color-base: #000;
$bg-base: #fff;
$color_ffc28c: #ffc28c;
$color_4e4e4e: #4e4e4e;
$color_ffa352: #ffa352;





//Other
$base-size: 10px;
$text-transform: uppercase;
$margin_center: 0 auto;
//$sprite:  url(../images/sprite.png) no-repeat;
$box-model: border-box;